body{
    font-family: 'Spicy Rice', regular;
    font-family: 'Baloo Bhaijaan', regular;
    font-family: 'Indie Flower', regular;
    font-family: 'Kaushan Script', regular;
}

h1{
    font-family: 'Indie Flower';
    color: #2870e2;
}

h2{
    font-family: 'Kaushan Script' regular;
    color: #2c2f33;
}

p{
    font-family:
}